@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;

}

html {
    scroll-behavior: smooth;
}

.logo h1 {
    font-size: 28px;
    margin-left: 90px;
    color: #e0ebeb;

}

.container {
    border: none;
    margin: 10px 8px 0;
    background: #385170;
    border-radius: 0px 0px 90px 90px;
    height: 700px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;

}

nav {
    flex-grow: 1;
    text-align: left;

}

nav li {
    display: inline-block;
    margin-left: 65px;
}

nav li a:hover {
    background-color: #e0ebeb;
    border-radius: 30px;
    color: black;
    width: 190px;
    padding: 4px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.profile-icon img {
    border: none;
    padding: 6px;
    border-radius: 30px;
    background: white;
    margin-right: 80px;

}

.profile-icon img:hover {
    background: #c7b9b9;
    cursor: pointer;
}

hr {
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #f5faf5;
    opacity: .3;
}


.main-heading {
    text-align: center;
    color: white;
    margin-top: 60px;
    font-size: 55px;
}

.main-para {
    text-align: center;
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.search-container {
    position: relative;
    width: 700px;
    margin: 35px auto 0;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 28px 55px 26px 23px;
    border: 1px solid #ccc;
    border-radius: 40px;
    outline: none;
    box-sizing: border-box;
}

::placeholder {
    font-size: 20px;
}

.search-container button {
    width: 150px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px 10px;
    background-color: rgb(67, 192, 192);
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 21px;
}

.search-container button:hover {
    background-color: teal;
}

.options {
    background-color: #ececec;
    margin-top: 200px;
    height: 440px;
    border-radius: 0px 0px 90px 90px;
    position: relative;
}

.left {
    border: none;
    float: left;
    margin: -120px 0 0 230px;
    height: 470px;
    width: 380px;
    position: relative;
    background: white;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.left img {
    margin-top: 50px;
    margin-left: 10px;
    width: 280px;
    height: 200px;
}

.options-heading {
    margin-left: 15px;
    margin-top: 25px;
}

.options-para {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(102, 102, 81);
}

.right {
    border: none;
    float: right;
    margin: -120px 150px 0 0;
    height: 470px;
    width: 550px;
    background-image: linear-gradient(to bottom, rgba(35, 146, 150, 0.52), rgba(18, 175, 214, 0.73)), url(/Asset/images/businesswoman-using-tablet-analysis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.right h1 {
    margin-left: 15px;
    margin-top: 25px;
    color: white;
}

.right p {
    margin: 10px 15px 0 15px;
    font-size: 20px;
    color: white;
}

.right-btn {
    width: 128px;
    margin: 35px 0 0 -110px;
    padding: 11px 2px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    background: rgb(122, 201, 204);
    color: white;
    font-style: italic;
    font-weight: bold;

}

.right-btn:hover {
    cursor: pointer;
    background: rgb(72, 107, 107);
    width: 135px;
    transition: width .2s ease-in-out;
}

.right:hover,
.left:hover {
    transform: translateY(-6px);
}

.social-icons {
    float: left;
    width: 120px;
    margin: 200px 0 0 10px;
    padding: 8px;
}

.social-icon {
    width: auto;
    float: right;
    margin: 130px 300px 0 0;
    padding: 8px;
    display: flex;
    gap: 14px;
}

.social-icon img {
    width: 25px;
    cursor: pointer;
}

#browse-topics {
    margin-top: 350px;

}

.topic-heading {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

#browse-topics ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 8px;
    padding: 10px;
}

#browse-topics ul li {
    list-style: none;
    font-size: 18px;
}

#browse-topics ul li a {
    text-decoration: none;
    color: gray;
}

.topics {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    margin: 0px 140px;

}

.topic {
    border: none;
    margin-top: 20px;
    height: 410px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.topic h1 {
    margin: 30px 0px 8px 30px;


}

.topic p {
    margin-left: 30px;
}

.topic img {
    margin-top: 50px;
    margin-left: 30px;
    width: 300px;

}

.topic #image3 {
    margin-top: 40px;
    height: 230px;
}

#contact {
    margin-top: 30px;
    height: fit-content;
    background: #e0ffcd;
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}

.contact-info {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.contact {
    margin: 60px 10px 30px 100px;
}

.contact h2 {
    color: #385170;

}

.contact ul li {
    list-style: none;
    padding: 4px;

}

.contact ul li a {
    text-decoration: none;
    color: teal;
}

.contact p {
    margin-top: 20px;
    color: teal;
    font-size: 18px;
}

.contact a img {
    margin-top: 10px;
    margin-left: 2px;
}

.copyright {
    text-align: center;
    color: teal;
    margin-bottom: 5px;
}